/* cyrillic-ext */
@font-face {
  font-family: 'NotoSansTC Bold';
  // font-style: normal;
  // font-weight: 400;
  font-display: swap;
  src: local('NotoSansTC-Bold'), local('NotoSansTC Bold'), url('~fonts/EJRVQgYoZZY2vCFuvAFbzr-_dSb_nco.woff2') format('otf');
}