/* cyrillic-ext */
@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('NotoSansJP-Light'), local('NotoSansJP Light'), url('~fonts/NotoSansJP-Light.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NotoSansJP-Bold'), local('NotoSansJP Bold'), url('~fonts/NotoSansJP-Bold.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('NotoSansJP-Regular'), local('NotoSansJP Regular'), url('~fonts/NotoSansJP-Regular.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('NotoSansJP-Bold'), local('NotoSansJP Bold'), url('~fonts/NotoSansJP-Bold.otf') format('otf');
}