// colors
$accentColor = lighten(#3f72af, 50%)

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #f9f7f7;
$headerBgColor =#112D4E;
$headerTextColor =#F9F7F7;

$asideBarUnderColor = #3f72af;
$footerBgColor = $headerBgColor;
$footerColor = #F9F7F7;

$newsletterBgColor = #f9f7f7

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)

// layout
$headerHeight = 100px
$contentWidth = 1200px

// responsive breakpoints
 $MQNarrow = 959px
 $MQMobile = 719px
 $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
